version: "3.9"

services:
  backend:
    build: .
    container_name: paytrust_backend
    command: python app.py
    restart: always
    ports:
      - "5000:5000"
    environment:
      FLASK_ENV: development
    depends_on:
      - db

  db:
    image: mysql:8
    restart: always
    container_name: paytrust_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: paytrust
      MYSQL_USER: admin
      MYSQL_PASSWORD: adminpassword
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

  nginx:
    image: nginx:latest
    container_name: paytrust_nginx
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf

volumes:
  dbdata:
